@page "/Review/Tool/{challengeId}/{submissionId}"
@using SubmissionEvaluation.Client.Services
@using SubmissionEvaluation.Client.Shared.Components.Review
@using SubmissionEvaluation.Client.Shared.Models
@using SubmissionEvaluation.Contracts.Data.Review
@using SubmissionEvaluation.Shared.Models.Review
@using Newtonsoft.Json
@using System.Net.Http.Json
@inject HttpClient httpClient
@inject NavigationManager navi
@inject IJSRuntime runtime
@inject ReviewSynchronizer synchronizer
@inject IToastService ToastService
@inject FileExplorerDomain domain
@inject ILocalStorageService LocalStorage
<link href="css/review.css" rel="stylesheet"/>
<div class="post-area">
    @if (Model != null)
    {
        <div class="post-header">
            <span id="challengeTilePostHeader">Review for Challenge:<a class="no-link-coloring" href=@($"Challenge/View/{challengeId}")>@Model.Challenge</a></span>
            <button type="submit" @onclick="CancelReview" class="btn btn-outline-dark">Cancel</button>
            <a id="saveButton" @onclick="SaveReview"style="float: right; margin-top: 7px" class="btn btn-primary oi oi-book" title="Review Lokal speichern">Speichern</a>
        </div>
        <div class="card-body challenge-creation-panel">
            <div id="reviewer">
                <div class="row">
                    <div class="col-12">
                        <span id="timecounter" class="pull-right">
                            <Timer ReviewStartTime="@ReviewStartTime"/>
                        </span>
                    </div>
                </div>
                <div class="row form-group">
                    <SideMenu SourceFiles="@Model.SourceFiles"/>
                    <div class="col-sm-10 col-12 editor-wrapper">
                        <div id="editorContainer">
                            <ReviewerFile Categories="Model.Categories" CurrentIssue="CurrentIssue" AllComments="AllComments"/>
                        </div>
                    </div>
                </div>
                @if (Model.GuidedQuestions != null)
                {
                    <GuidedQuestionsQuestionaire GuidedQuestions="@Model.GuidedQuestions" SubmitReview="@SubmitReview" AllComments="AllComments" @bind-CurrentIssue="CurrentIssue"/>
                }
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public string challengeId { get; set; }

    [Parameter]
    public string submissionId { get; set; }

    DateTime ReviewStartTime { get; } = DateTime.Now;
    ReviewToolModel Model { get; set; }
    HashSet<ReviewComments> AllComments { get; } = new HashSet<ReviewComments>();
    Issue CurrentIssue { get; set; }
    bool IsFullScreen { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var stringify = await httpClient.GetStringAsync($"api/Review/GetReviewToolModel/{challengeId}/{submissionId}");
        Model = JsonConvert.DeserializeObject<ReviewToolModel>(stringify);
        if (Model != null && Model.HasError)
        {
            navi.NavigateTo($"Home/Error/{Model.Message}");
        }
        var LoadCheck = await CheckLoadFiles();
        if (LoadCheck != null)
        {
            synchronizer.AllFilesWithComments = LoadCheck;
            synchronizer.AllFilesWithComments.ForEach(x => AllComments.UnionWith(x.Comments.Comments));
            var guidedQuestions = await CheckLoadQuestions();
            if (guidedQuestions != null)
            {
                Model.GuidedQuestions = guidedQuestions;
            }
        }
        else
        {
            foreach (var file in Model.SourceFiles)
            {
                synchronizer.AllFilesWithComments.Add(new FileReviewCommentsAssoziater(new ReviewCodeComments {FileName = file.Name, Comments = new List<ReviewComments>()}, file));
            }
        }
        synchronizer.CurrentAssoziation = synchronizer.AllFilesWithComments[0];
        StateHasChanged();
    }

    void CancelReview()
    {
        httpClient.PostAsJsonAsync<ReviewToolModel>("api/Review/CancelReview", Model);
        navi.NavigateTo("Review/Overview/Canceled");
    }

    async void SubmitReview()
    {
        var data = new ReviewData {Challenge = challengeId, Id = submissionId, Time = (DateTime.Now - ReviewStartTime).ToString(@"hh\:mm\:ss"), ResultComments = synchronizer.AllFilesWithComments.Select(x => x.Comments).ToArray(), GuidedQuestionResult = Model.GuidedQuestions.ToArray()};
        var responseMessage = await httpClient.PostAsJsonAsync<ReviewData>("api/Review/SubmitReview", data);
        if (responseMessage.IsSuccessStatusCode)
        {
            var result = await responseMessage.Content.ReadFromJsonAsync<GenericModel>();
            if (result.HasSuccess)
            {
                navi.NavigateTo("Review/Overview/SubmitReview");
            }
            else
            {
                ToastService.ShowError("Es gab einen Fehler beim Abgeben des Reviews. Bitte speichere es und probiere es später noch einmal.", "Error");
            }
        }
    }

    async Task<List<FileReviewCommentsAssoziater>> CheckLoadFiles()
    {
        var item = await LocalStorage.GetItemAsync<string>($"{challengeId}/{submissionId}/Files");
        if (item == null)
        {
            return null;
        }
        var answer = await runtime.InvokeAsync<bool>("confirmUsingSavings");
        if (answer)
        {
            try
            {
                var newList = JsonConvert.DeserializeObject<List<FileReviewCommentsAssoziater>>(item);
                return newList;
            }
            catch (JsonException)
            {
                ToastService.ShowError("Fehler beim Laden der Daten.", "Error");
                return null;
            }
        }
        return null;
    }

    async Task<GuidedQuestion[]> CheckLoadQuestions()
    {
        var item = await LocalStorage.GetItemAsync<string>($"{challengeId}/{submissionId}/Questions");
        if (item == null)
        {
            return null;
        }
        try
        {
            var newQuestions = JsonConvert.DeserializeObject<GuidedQuestion[]>(item);
            return newQuestions;
        }
        catch (JsonException)
        {
            ToastService.ShowError("Fehler beim Laden der Daten.", "Error");
            return null;
        }
    }

    async void SaveReview()
    {
        var savingsFiles = JsonConvert.SerializeObject(synchronizer.AllFilesWithComments);
        var savingQuestions = JsonConvert.SerializeObject(Model.GuidedQuestions);
        await LocalStorage.SetItemAsync($"{challengeId}/{submissionId}/Files", savingsFiles);
        await LocalStorage.SetItemAsync($"{challengeId}/{submissionId}/Questions", savingQuestions);
        ToastService.ShowSuccess("Review lokal gespeichert.", "Saved");
    }

    //TODO: Check all base.StateHasChanged, if they are really needed.
    // Reimplement fullscreen, if you are too bored. :D
}
