@using SubmissionEvaluation.Client.Services
@using SubmissionEvaluation.Shared.Models.Shared
@inject FileExplorerDomain Domain
<div id=@($"file_{File.Name}") class="file file_component col-2">
    <div id=@($"fileheader_{File.Name}") class="col-12 filepart fileheader" hidden="@(!Hidden)" style="white-space: nowrap" @onclick="() => ShowOrHide(File.Name)">
        @File.Name
    </div>
    <input hidden="@Hidden" @bind-value="NewName" style="@FontColor" class="folder_input fileheader" @onkeypress:preventDefault="@PreventDefault" @onkeypress:stopPropagation="@PreventDefault" @onkeypress="e => OnKeyPressed(e)"/>
    <button type="button" class="btn btn-outline-dark" @onclick="() => Rename(File)" hidden="@Hidden">Submit</button>
    <div id=@($"fileepic_{File.Name}") class="col-12 filepart filepic">
        @if (File.Type.Equals("folder"))
        {
            try
            {
                <img src="images/folder.png" @onclick="@(e => CatchEventAndOpenFolderZone(e, (Folder) File))" class="file_image_sized"/>
            }
            catch (InvalidCastException)
            {
                <img src="images/file.png" class="file_image_sized" @onclick="@(() => OpenFilePropsEdit(File))"/>
            }
        }
        else
        {
            <img src="@GetImageUrl(File)" class="file_image_sized" @onclick="@(() => OpenFilePropsEdit(File))"/>
        }

        <InputCheckbox @bind-Value="File.IsDelete" id=@($"deleteCheck_{File.Name}")></InputCheckbox>
        <label for=@($"deleteCheck_{File.Name}") class="deleteLabel">
            <span class="oi oi-trash"></span>
        </label>
    </div>
</div>

@code {

    [Parameter]
    public File File { get; set; } = new File();

    private string NewName { get; set; }
    private bool Hidden { get; set; } = true;
    private string FontColor { get; set; } = "font:black;";
    private bool PreventDefault { get; set; } = false;

    private void CatchEventAndOpenFolderZone(MouseEventArgs e, Folder file)
    {
        Domain.OpenFolderZone(file);
    }

    private void Rename(File file)
    {
        if (InputButtonHelper.CheckValidity(Domain.Files, Domain.NewFiles, NewName, file))
        {
            if (file.LastModified == null)
            {
                file.LastModified = Domain.FlatFiles?.Where(x => x.OriginalName.Equals(file.Path + file.OriginalName)).FirstOrDefault()?.LastModified;
            }
            file.Name = NewName;
            ShowOrHide(NewName);
        }
        else
        {
            FontColor = "color:red;";
        }
    }

    private void ShowOrHide(string name)
    {
        Hidden = !Hidden;
        NewName = name;
    }

    private void OnKeyPressed(KeyboardEventArgs e)
    {
        if (e.Key.Equals("Enter"))
        {
            PreventDefault = true;
        }
        FontColor = InputButtonHelper.GetNormalColor;
        StateHasChanged();
    }

    private void OpenFilePropsEdit(File file)
    {
        Domain.SelectedFile = file;
        Domain.InFileEdit = true;
        Domain.InvokeEvent();
    }

    private string GetImageUrl(File file)
    {
        if (File.Type.StartsWith("image/"))
        {
            return "images/image.png";
        }
        if (File.Name.EndsWith(".exe"))
        {
            return "images/executable.png";
        }
        if (File.Name.EndsWith(".conf"))
        {
            return "images/config.png";
        }
        if (File.Name.EndsWith(".zip") || File.Name.EndsWith(".gzip"))
        {
            return "images/archive.png";
        }
        if (File.Type.StartsWith("application/") || File.Type.Equals("text/javascript"))
        {
            return "images/source.png";
        }
        if (File.Type.Equals("file"))
        {
            return "images/file.png";
        }
        return "images/generic.png";
    }

}
