@page "/Challenges/Edit/FileExplorer"
@using SubmissionEvaluation.Client.Services
@using SubmissionEvaluation.Shared.Models.Shared
@inject FileExplorerDomain Domain
<div class="row">
    <div id="filelistCol" class="col-12">
        <div>
            <div class="folder-structure explorer">
                <div class="explorer-header">Ordner</div>
                <ul class="less-padding" hidden="@InfoActive">
                    <FolderComponent Folder="RootFolder"/>
                    <li>
                        <NewFolderButton @bind-Files="RootFolder.NewFilesInFolder" OtherFiles="RootFolder.FilesInFolder" Path="@(Index + Domain.Path.Replace("/", Folder.PathSeperator))"/>
                    </li>
                </ul>
                <button class="infoButton" type="button" hidden="@InfoActive" @onclick="() => InfoActive = !InfoActive">
                    <span class="oi oi-info"></span>
                </button>
                <InfoField @bind-hidden="@InfoActive"></InfoField>
            </div>
            <div class="file-overview explorer">
                <div class="explorer-header">@Domain.Path</div>
                <div class="no-overflow flex-column h-82 explorer-content">
                    <DropDownZone @bind-Files="Domain.NewFiles" OtherFiles="Domain.Files" Hidden="@Domain.InFileEdit" Path="@(Index + Domain.Path.Replace("/", Folder.PathSeperator))"/>
                    <EditFileProperties File="Domain.SelectedFile" Hidden="@(!Domain.InFileEdit)" DownloadUrl="@DownloadUrl"/>
                </div>
                <div>
                    <NewFolderButton @bind-Files="Domain.NewFiles" OtherFiles="Domain.Files" Small="false" Path="@(Index + Domain.Path.Replace("/", Folder.PathSeperator))"/>
                </div>
            </div>
        </div>
        <div class="label label-info lb-md" id="filelabel"></div>
    </div>
</div>

@code {

    [Parameter]
    public Folder RootFolder { get; set; }

    [Parameter]
    public string Index { get; set; } = string.Empty;

    [Parameter]
    public string DownloadUrl { get; set; } = string.Empty;

    private bool InfoActive { get; set; } = false;

    protected override void OnInitialized()
    {
        RootFolder.IsExpanded = false;
        Domain.Path = "/" + RootFolder.Name + "/";
        Domain.Files = RootFolder.FilesInFolder;
        Domain.NewFiles = RootFolder.NewFilesInFolder;
        Domain.DomainEvent += StateHasChanged;
        StateHasChanged();
    }

}
