@page "/Challenge/Create"

@using System.Net.Http.Json
@using SubmissionEvaluation.Shared.Models.Permissions
@using SubmissionEvaluation.Shared.Classes
@using SubmissionEvaluation.Shared.Classes.Messages

@inject HttpClient HttpClient
@inject NavigationManager Nav

<style>
    .consoleblock {
        background: #000 !important;
        border-width: 1px !important;
        color: #DDD !important;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
        font-size: 13px !important;
        line-height: 1.1 !important;
        padding: 9.5px !important;
    }
</style>
<div>
    <div class="post-area">
        @if (model != null)
        {
            <div class="post-header">
                Neue Aufgabe erstellen
            </div>
            <div class="card-body challenge-creation-panel">
                <EditForm @ref="form" OnValidSubmit="@CreateChallenge" Model="@model" id="challengeform" enctype="multipart/form-data" OnInvalidSubmit="@SaveText">
                    <DataAnnotationsValidator/>
                    <div class="card-body challenge-creation-panel">
                        <MessageHeader Model="@model"/>
                        <div id="project-group" class="form-group">
                            <h4 class="col-form-label">ID* (Späteres Ändern nicht möglich!)</h4>
                            <InputText @bind-Value="@model.Id" class="form-control"/>
                            <ValidationMessage For="@(() => model.Id)"/>
                        </div>
                        <EditChallengePartial Model="@model" @ref="partial"/>
                        <button id="create" type="submit" class="btn btn-outline-dark btn-block text-center input-field-padding" value="Aufgabe erstellen!"><span class="oi oi-book"></span> Aufgabe erstellen</button>
                    </div>
                </EditForm>
            </div>
        }

    </div>
</div>

@code {
    ExtendedChallengeModel model;
    EditChallengePartial partial;
    EditForm form;

    protected override async void OnInitialized()
    {
        var permissions = await HttpClient.GetFromJsonAsync<Permissions>("api/Members/Permissions");
        if (!PermissionHelper.CheckPermissions(Actions.Create, "Challenges", permissions))
        {
            Nav.NavigateTo($"Home/Error/{ErrorMessages.NoPermission}");
        }
        model = await HttpClient.GetFromJsonAsync<ExtendedChallengeModel>("api/Challenge/getDraftForUser");
        StateHasChanged();
    }

    public async void SaveText()
    {
        await partial.SaveEditor();
    }

    public async void CreateChallenge()
    {
        await partial.SaveEditor();
        var responseMessage = await HttpClient.PostAsJsonAsync("api/Challenge/CreateChallenge", model);
        if (responseMessage.IsSuccessStatusCode)
        {
            var result = await responseMessage.Content.ReadFromJsonAsync<ExtendedChallengeModel>();
            if (result.HasSuccess)
            {
                Nav.NavigateTo($"/Challenge/Edit/{model.Id}");
            }
            else
            {
                model.Message = result.Message;
                model.HasError = result.HasError;
            }
        }
        StateHasChanged();
    }

}
