@page "/Bundle/List"
@using System.Net.Http.Json
@using SubmissionEvaluation.Shared.Models.Permissions
@using SubmissionEvaluation.Shared.Classes
@using SubmissionEvaluation.Shared.Classes.Messages
@using SubmissionEvaluation.Client.Shared.Components.Table
@using System.ComponentModel

@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="row">
    <div class="col-12">
        <div class="post-area post">
            <div class="post-header">
                <h1>
                    Bundles verwalten
                    <a href="Bundle/Create" title="Neues Bundle anlegen" class="btn btn-sm">
                        <span class="oi oi-plus"></span>
                    </a>
                </h1>
            </div>
            @if (Model != null)
            {
                <MessageHeader Model="Model"/>

                <Table TEntry="BundleModel" Entries="Model.Bundles" SearchEnabled="true">
                    <Column TEntry="BundleModel" Header="Title" StringValue="@(context => context.Title)" SortDirection="ListSortDirection.Ascending">
                        <a class="no-link-coloring" href="@($"/Bundleview/{context.Id}")">
                            @context.Title
                        </a>
                    </Column>
                    <Column TEntry="BundleModel" Header="Autor" StringValue="@(context => context.Author)">
                        <a href="@($"Member/Members/{context.AuthorId}")" class="author">@(context.Author)</a>
                    </Column>
                    <Column TEntry="BundleModel" Header="Kategorie" StringValue="@(context => Model.Categories[context.Category])"/>
                    <Column TEntry="BundleModel" Header="Veröffentlicht" StringValue="@(context => context.IsDraft ? "Unveröffentlicht" : "Veröffentlicht")"/>
                    <Column TEntry="BundleModel" Header="Challengeliste" Value="@(context => context.Challenges.Count)" TextAlignment="TextAlignment.Right"/>
                    <Column TEntry="BundleModel" Header="Aktionen">
                        <a href="@($"/Bundle/Edit/{context.Id}")" class="btn btn-outline-dark btn-margin btn-block">Bearbeiten</a>
                    </Column>
                </Table>

                <div>
                    <a href="/Bundle/Create" class="btn btn-outline-dark btn-margin col-12">Bundle anlegen</a>
                </div>
            }
        </div>
    </div>
</div>

@code {
    BundleOverviewModel Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var permissions = await httpClient.GetFromJsonAsync<Permissions>("api/Members/Permissions");
        if (!PermissionHelper.CheckPermissions(Actions.View, "Bundles", permissions))
        {
            navigationManager.NavigateTo($"Home/Error/{ErrorMessages.NoPermission}");
        }
        Model = await httpClient.GetFromJsonAsync<BundleOverviewModel>("api/Bundle/List");

        StateHasChanged();
    }

}
