@inject HttpClient HttpClient
@page "/Account/View"
@page "/"
@using System.Net.Http.Json
<div class="row">
    <ProfileHeader Features="Features" Model="Model"/>

    <div class="col-12">
        <div class="post-area post">
            <div>
                <ProfileMenu Model="Model"/>
            </div>
            @if (Features != null && Model != null && CustomSettings != null)
            {
                <div class="row">
                    <div class="col form-group">
                        <label class="col-form-label" for="Mail"><span class="oi oi-account-login"></span> Benutzername</label>
                        <input value="@Model.Uid" readonly class="form-control"/>
                    </div>
                    <div class="col form-group">
                        <label class="col-form-label" for="Mail"><span class="oi oi-person"></span> Anzeigename</label>
                        <input value="@Model.Name" readonly class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label class="col-form-label" for="Mail"><span class="oi oi-envelope-closed"></span> E-Mail-Adresse</label>
                        <input value="@Model.Mail" readonly class="form-control"/>
                    </div>
                    <div class="col form-group">
                        <label class="col-form-label" for="Group"><span class="oi oi-tags"></span> Gruppen</label><br/>
                        <div style="display: flex;">
                            <input value='@string.Join(",", Model.Groups.Select(x => x.Title))' title="@string.Join(",", Model.Groups.Select(x => x.Title))" readonly class="form-control col-sm-8"/>
                            @if (Model.CanChooseGroup)
                            {
                                <a href="Account/Groups" class="btn btn-outline-dark col-sm-3 ml-auto">Verwalten</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Model.Roles.Count > 0)
                    {
                        <div class="col form-group">
                            <label class="col-form-label" for="Mail"><span class="oi oi-people"></span> Rollen</label><br/>
                            <input value='@string.Join(",", Model.Roles)' readonly class="form-control"/>
                        </div>
                    }
                </div>
                <div class="input-field-padding">
                    @if (!Features.EnableLdap)
                    {
                        <a href="Account/ChangePassword" class="btn btn-outline-dark btn-margin col-sm-3 col-6 ml-auto">Passwort ändern</a>
                    }
                    <a href="Account/UpdateSettings" class="btn btn-outline-dark btn-margin col-sm-3 ml-auto">Nutzerdaten bearbeiten</a>
                </div>
            }
        </div>
    </div>
</div>

@code {
    SettingsModel Model { get; set; }
    FeatureSettings Features { get; set; }
    CustomizationSettingsClient CustomSettings { get; set; }

    protected override async void OnInitialized()
    {
        Model = await HttpClient.GetFromJsonAsync<SettingsModel>("api/Account/getusersettings");
        Features = await HttpClient.GetFromJsonAsync<FeatureSettings>("api/Account/getSettings");
        CustomSettings = await HttpClient.GetFromJsonAsync<CustomizationSettingsClient>("api/Account/GetCustomSettings");
        StateHasChanged();
    }

}
