@using Member = SubmissionEvaluation.Contracts.ClientPocos.Member
@using SubmissionEvaluation.Client.Shared.Components.Table
@using System.ComponentModel

<div class="post">

    <Table TEntry="SubmissionModel<Result, Member>" Entries="Model.AvailableSubmissions" SearchEnabled="true">
        <Column TEntry="SubmissionModel<Result, Member>" Header="Einreichender User" StringValue="@(context => context.Member.Name)"/>
        <Column TEntry="SubmissionModel<Result, Member>" Header="Bisherige Tests bestanden" StringValue="@(context => context.Submission.IsPassed.ToString())"/>
        <Column TEntry="SubmissionModel<Result, Member>" Header="Sprache" StringValue="@(context => context.Submission.Language)"/>
        <Column TEntry="SubmissionModel<Result, Member>" Header="Einreichungsdatum"  Value="@(context => context.Submission.SubmissionDate)"  StringValue="@(context => context.Submission.SubmissionDate.ToShortDateString())" SortDirection="ListSortDirection.Descending"/>
        <Column TEntry="SubmissionModel<Result, Member>" Header="Wähle">
            <button @onclick="@(() => SelectSubmission(context.Submission.SubmissionId))" type="button" class="btn btn-info">Auswählen</button>
        </Column>
    </Table>
</div>

@code {

    [Parameter]
    public TestGeneratorModel<Result, Member> Model { get; set; }

    private void SelectSubmission(string submissionId)
    {
        Model.SubmissionId = submissionId;
        StateHasChanged();
    }

}
